@font-face{
    font-family: iranMarker;
    src: url(./fonts/IRANMarker.ttf);
}
@font-face{
    font-family: iransansbold;
    src: url(./fonts/IRANSans_Bold.ttf);
}
@font-face{
    font-family: iransansadi;
    src: url(fonts/IRANSans_Medium.ttf);
}
@font-face{
    font-family: iransanslight;
    src: url(fonts/IRANSans_Light.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family: iransansadi;
    font-size: 63.5%;
    border: 1px black solid;
    margin: 0 4rem 0 4rem;
    display: flex;
    direction: rtl;
}
.dashboard{
    display: flex;
    justify-content: flex-end;
    width: 15%;
    background-color: rgb(255, 253, 250);
}
.main-box{
    justify-content: start;
    width: 85%;
    background-color: #f8f4f4;
}
.main-box-top{
    height: 17vh;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around ;
}
.main-box-top-obj{
    display: flex;
    height: 12vh;
    width: 20% ;
    margin-top:1.2rem ;
    background-color:#f7f7f7;
    border-radius: 0.6rem;
    box-shadow:1rem 1rem 3rem 0.7rem rgba(128, 128, 128, 0.753);
}
