@font-face{
    font-family: iranMarker;
    src: url(./fonts/IRANMarker.ttf);
}
@font-face{
    font-family: iransansbold;
    src: url(./fonts/IRANSans_Bold.ttf);
}
@font-face{
    font-family: iransansadi;
    src: url(fonts/IRANSans_Medium.ttf);
}
@font-face{
    font-family: iransanslight;
    src: url(fonts/IRANSans_Light.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family: iransansadi;
    font-size: 63.5%;
    border: 1px black solid;
    margin: 0 4rem 0 4rem;
    display: flex;
    direction: rtl;
}
.dashboard{
    display: flex;
    justify-content: flex-end;
    width: 15%;
    background-color: rgb(255, 252, 247);
}
.main-box{
    justify-content: start;
    width: 85%;
    background-color: #f3eded;
}