*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: iransansadi;
    direction: rtl;
}

.main{
    height: 100vh;
    margin: 0 10rem;
    display: flex;
    flex-direction: row;

    &__dashboard{
        width: 16%;
        background-color: $color-white;
        display: flex;
        flex-direction: column;
       
    }
    &__container{
        width: 84%;
        background-color: $color-grey;
        display: flex;
        flex-direction: column;
    }
}